NODE_ENV=*
APP_PORT=*
APP_NAME=*
API_PREFIX=*
APP_FALLBACK_LANGUAGE=*
APP_HEADER_LANGUAGE=*
FRONTEND_DOMAIN=*
BACKEND_DOMAIN=*

DATABASE_TYPE=*
DATABASE_HOST=*
DATABASE_PORT=*
DATABASE_USERNAME=*
DATABASE_PASSWORD=*
DATABASE_NAME=*
DATABASE_SYNCHRONIZE=*
DATABASE_MAX_CONNECTIONS=*
DATABASE_SSL_ENABLED=*
DATABASE_REJECT_UNAUTHORIZED=*
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

AUTH_JWT_SECRET=*
AUTH_JWT_TOKEN_EXPIRES_IN=*


MAIL_HOST=maildev
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080
