/* color */
.text-gray-900 {
  color: #292929;
}
.text-gray-800 {
  color: #292929;
}
.text-gray-700 {
  color: #3e3e3e;
}
.text-gray-600 {
  color: #494949;
}
.text-gray-500 {
  color: #888888;
}
/* background */
.bg-gray-900 {
  background-color: #292929;
}
.bg-gray-700 {
  background-color: #3e3e3e;
}
.bg-gray-50 {
  background-color: #f8f8f8;
}

.bg-white {
  background-color: #fff;
}
/* border color */
.border-gray-300 {
  border-color: #cfcfcf;
}
